<h1>Creation du mot de passe</h1>
<p>Bonjour Monseier, Madame
	{{name}}. Suivez le lien suivant pour enregistrer votre mot de passe</p>


<a href="http://localhost:8000/admin/user/edit-pass/{{id}}?key={{key}}">Aller</a>
