<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}JuriSpert!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/a7f1e788fd.js" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">JuriSpert</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/admin/dashboard">Dashboard
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/project">Projets</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/task">Taches</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/event">Agenda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/customer">Clients</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/user">Equipe</a>
					</li>

				</ul>
			</div>
		</nav>

		{% for type, messages in app.flashes %}
			<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}


		{% block body %}{% endblock %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
